{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
	<title>CoinCollectorApp_Proj5</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="{% static 'coins_web_app/css/bootstrap.min.css' %}" type = "text/css"/>
	<!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"></link> -->
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<style type="text/css">
		html,
		body {
			/*background-color: #f6f6f6;*/
		  background-color: #0000;
		  color: #0000FF;
		  font-family: Arial;
		  height:100%
		}
		
		/* mouse over link */
		a:hover {
		    color: green;
		}
		tr:hover {
			color: black;
		}
	</style>

</head>
		<hr>

 <!-- style="background-color:#f6f6f6" -->
<body class="body">
<div class="container-fluid" style="min-height:90%; ">
	<div class="row">
		  <div class="col-sm-10">
			  <br>
			  <center>
			  	<h1>Welcome to the QUARTER COINS web site!</h1>
			  </center>
		  </div>
	</div>
	<hr>
	<div class="col-sm-12">
		<div class='container-fluid'>
			<div class="row">
					{% block content %}
					{% for quarter in quarters_list %}
					<table class="table table-hover">
						<tr>
							<td class="col-xs-1">{{ quarter.number }}</td>
							<td class="col-sm-1">{{ quarter.state }}</td>
							<td class="col-md-2">{{ quarter.release_date }}</td>
							<td class="col-md-2">{{ quarter.elements }}</td>
							<td class="col-md-2">{{ quarter.engraver }}</td>
							<td class="col-md-2">{{ quarter.image_link|safe }}</td>
						</tr>
						{{ ednif }}
					</table>

					{% empty %}

					<p>You have no quarters in your quarter list</p>

					{% endfor %}
				{% endblock %}
			</div>
		</div>
	</div>
</div>
<footer>
<div class="container-fluid" style='margin-left:15px'>
	<h2>
	<p><a href="https://en.wikipedia.org/wiki/50_State_Quarters" target="blank">
	<center>
		WikipediaCoinSite</a></p>
	</center>
	</h2>
</div>
</footer>
</body>
</html>
