{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>CoinCollectorApp_Proj5</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="{% static 'coins_web_app/css/bootstrap.min.css' %}" type = "text/css"/>
	<!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"></link> -->
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<style type="text/css">
		html,
		body {
			/*background-color: #f6f6f6;*/
		  background-color: #0000;
		  color: #0000FF;
		  font-family: Arial;
		  height:100%
		  margin: 100%;
		}

		/* mouse over link */
		a:hover {
		    color: green;
		}
		tr:hover {
			color: black;
		}
	</style>

</head>

{% block content %}

{% endblock %}

<body>
<div class="container">
	<h1 class="jumbotron" class="text-center">
	<center>
		<strong>This site is about a user that likes to collect coins!</strong>
	</center>
	</h1>

	<ul class="nav nav-pills">
  		<li role="presentation" class="active"><a href="{% url 'quarters_list' %}"
		class="btn btn-default btn-xs">Go to Quater's Table</a>
		</li>
	</ul>
</div>
</body>
</html>
