{% extends 'coins_web_app/basic.html' %}

{% block content %}
 <!-- style="background-color:#f6f6f6" -->
<div class="container-fluid" style="min-height:90%; ">
	<div class="row">
		  <div class="col-sm-10">
			  <br>
			  <center>
			  	<h1>Welcome to the QUARTER COINS web site!</h1>
				<li role="presentation" class="active"><a href="{% url 'index' %}"
				class="btn btn-default btn-xs">Return to Main Page</a>
				</li>
			  </center>
		  </div>
	</div>
	<hr>
	<div class='container-fluid'class="col-sm-10">
		<!-- <div class="col-sm-14"> -->
		<table class="table">
			<tr>
				<th class="col-sm-1">Number</th>
				<th class="col-sm-1">State</th>
				<th class="col-sm-2">Released date</th>
				<th class="col-sm-2">Element</th>
				<th class="col-sm-2">Engraver</th>
				<th class="col-sm-2">Image Link</th>
			</tr>
		</table>
		{% for quarter in quarters_list %}
		<table class="table table-hover">
			<tr class="quaters_table">
				<td class="col-sm-1">{{ quarter.number }}</td>
				<td class="col-sm-1">{{ quarter.state }}</td>
				<td class="col-sm-2">{{ quarter.release_date }}</td>
				<td class="col-sm-2">{{ quarter.elements }}</td>
				<td class="col-sm-2">{{ quarter.engraver }}</td>
				<td class="col-sm-2">{{ quarter.image_link|safe }}</td>
			</tr>
		</table>

			{% empty %}

			<p>You have no quarters in your quarter list</p>

			{% endfor %}
		</div>
	</div>
</div>
<div class="container-fluid" style='margin-left:15px'>
	<h2>
	<p><a href="https://en.wikipedia.org/wiki/50_State_Quarters" target="blank">
	<center>
		WikipediaCoinSite</a></p>
	</center>
	</h2>
</div>
{% endblock %}
